<header class="nav-header">
  <a class="logo">
  </a>
  <div class="drop-down">
    <button class="menu">
      <i class="icons home"></i>
      <span>Home</span>
      <i class="icons triangle"></i>
    </button>
  </div>
  <div class="search-box">
    <i class="icon"></i>
    <input type="search" class="input" placeholder="Search Anchor" />
  </div>

  <div class="icon-bar -divide">
    <a href="#" class="link"><i class="popular"></i></a>
    <a href="#" class="link"><i class="all"></i></a>
    <a href="#" class="link"><i class="original"></i></a>
    <span class="divider"></div>
  </div>

  <div class="user-tab">
    <div class="icon-bar">
      <a href="#" class="link"><i class="chat"></i></a>
      <a href="#" class="link"><i class="messages"></i></a>
      <a href="#" class="link"><i class="create"></i></a>
    </div>

    <div class="drop-down">
      <button class="menu">
        <div class="avatar"></div>
        <span class="username">humphreylitan</span>
        <i class="icons triangle"></i>
      </button>
    </div>
  </div>
  
</header>


<div class="posts-container">
  <div class="content">
    <div class="post-article">
      <div class="vote">
        <i class="arrow up"></i>
        <div class="count">100</div>
        <i class="arrow down"></i>
      </div>
      <div class="post-details">
        <p class="author">Posted by u/humphreylitan 13 hours ago</p>
        <h3 class="title">This is a title</h2>
        <p class="excerpt">This is a content</p>
        <div class="permalinks">
          <div class="button">
            <i class="comments"></i>
            Comments
          </div>
          <div class="button">
            <i class="share"></i>
            Share
          </div>
        </div>

      </div>
    </div>
  </div>

  <aside class="sidebar">
hi
  </aside>
</div>
