<div class="comment-box -nested">
  <div class="vote-box">
    <div class="box">
      <i class="up"></i>
      <i class="down"></i>
    </div>
    <div class="line"></div>
  </div>
  <div class="comment-details">
    <p class="commenter">
      <span class="username">Username</span>
      <span class="points">3 points</span>
      <span class="date">3 hours ago</span>
    </p>
    <p class="body">
      <p>This is a sample comment</p>
    </p>
    <div class="permalinks">
      <div class="button -comment">
        <i class="comments -reply"></i>
        <span>Reply</span>
      </div>
    </div>

    <%= render 'comment' %>

  </div>
</div>
