@media only screen and (max-width: 1168px) {
  .user-tab {
    .login, .signup {padding: 7px 20px;}
  }

}

@media only screen and (max-width: 969px) {

  .vertical-nav {
    right: 0;
  }

  .-desktop-only {display: none;}

  .posts-container {
    &.-index {max-width: 100%;}
    &.-index > .content {width: 100%;}
    &.-show > .content {width: 100%;}
  }

  .drop-down {
    &.filter > .menu {width: 200px;}
    &.user {width: 50px;}
    &.user > .menu {width: 50px;}
  }

  .sidebar-section {display: none;}

  .user-tab {

    .login, .signup {padding: 7px 10px;}
    justify-content: flex-end;
  }

}

@media only screen and (max-width: 820px) {

  .drop-down {
    &.filter > .menu {
      width: 50px;
      span {display: none;}
    }
  }

}

@media only screen and (max-width: 720px) {


  .user-tab {
    width: 180px;

  }



}

@media only screen and (max-width: 480px) {

  .user-tab {
    > .icon-bar {display: none;}
  }

  .nav-header {
    padding: 7px 10px;
  }


  .posts-container {
    width: 100%;

    &.-index {padding: 0;}
    &.-show {width: 100%;}
  }

  .post-article {
    &.-index {border-radius: 0;}
  }

  .post-summary-bar {
    width: calc(100% - 100px);
    justify-content: space-between;

    > .title {display: none;}

  }
  .controls-bar {
    width: 50px;

    > .button {
      padding: 5px;
      > .text, > .key {display: none;}
    }

  }
}
